default_install_hook_types:
  - pre-commit
repos:
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v4.4.0
    hooks:
      - id: trailing-whitespace
      - id: check-case-conflict
      - id: check-yaml
      - id: end-of-file-fixer
      # - id: no-commit-to-branch
      - id: trailing-whitespace

  - repo: https://github.com/gitleaks/gitleaks
    rev: v8.16.3
    hooks:
      - id: gitleaks

  # - repo: https://github.com/rhysd/actionlint
  #   rev: v1.6.24
  #   hooks:
  #     - id: actionlint
