# yaml-language-server: $schema=https://www.schemastore.org/github-workflow.json
---
name: Linter

on:
  pull_request:
    branches:
      - main
    types:
      - opened
      - ready_for_review
      - synchronize
      - reopened
  merge_group:
  push:
    branches:
      - main

permissions: {}

jobs:
  linter:
    uses: raven-actions/.workflows/.github/workflows/__linter.yml@main
    permissions:
      contents: write
      issues: write
      pull-requests: write
    secrets: inherit
